.table1 {
border: solid;
border-width: thin;
padding-top: 10px;
padding-right: 610px;
width: 100%;


}
.table1 td {
    padding-bottom: 10px;
    padding-block: 5px;
    padding-block-end: 10px;
}
.table2 th {
    border-bottom: 2px solid #ccc;
}
.table2 {
    width: 100%;
    border: solid;
    border-width: thin;
    border-left: center;
}
.table2 th {
    padding: 2%;
    padding-left: auto;
}
.table2 td {
    text-align: center;
    padding-bottom: 2%;
}
.card {
    border: solid;
    border-width: thin;
}
.card h2 {
    text-align: center;
}
.card ul {
    padding: auto;
}
.container {
    max-width: 750px;
    margin: auto;
}
.container h1 {
    text-align: center;
}
.container h2 {
    text-align: center;
}
.container p {
    margin: 5px 5px;
}
